@{
    SortedDictionary<String, String> chips = new SortedDictionary<String, String> {
        { "fa-brands fa-ideal", "Intuitivo" },
        { "fa-solid fa-check", "Eficiente" },
        { "fa-solid fa-code-compare", "Flexible" },
        { "fa-solid fa-expand", "Escalable" },
        { "fa-solid fa-toggle-on", "Sencillo" },
        { "fa-solid fa-spinner", "Accesible" },
        { "fa-solid fa-hand-point-up", "Fiable" },
        { "fa-solid fa-bolt", "Rápido" },
        { "fa-solid fa-compass", "Adaptable" },
        { "fa-brands fa-medium", "Moderno" }
    };
}
<div class="min-h-screen bg-gradient-to-br from-indigo-100 via-white to-pink-100">
    <!-- Enzabezado Index -->
    <partial name="_Partials/_Header" />

    <!-- Parte principal Landing -->
    <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <div class="text-center mb-16">
            <h1 class="text-6xl sm:text-7xl font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-indigo-600 to-pink-600 mb-6 leading-tight">
                LA MEJOR SOLUCIÓN
            </h1>
            <p class="text-2xl sm:text-3xl text-gray-700 mb-10">
                PARA TU NEGOCIO
            </p>
        </div>
    </main>
</div
