@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="w-full bg-[#FFD735] py-3 text-center">
    <p class="text-sm meven">
        ¡Vea a Meven en acción! Únase a una demostración grupal: todos los domingos a las @@ @DateTime.Now.ToString("hh:mm tt")
        <a class="meven text-black underline font-medium hover:no-underline underline-offset-8" asp-controller="Register" asp-action="RegisterFree">
            Registrate Aquí
        </a>
    </p>
</div>