@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string canal = "@mistral_restfield";
}
<!-- Parte principal Landing -->
<div class="max-w-4xl mx-auto text-center mt-16 mb-5">
    <h1 class="meven text-6xl font-bold text-[#0A2533] mb-4 leading-tight font-bold">
        Enfócate en tus
        <span class="bg-[#0A2533] meven text-white px-3 py-1">clientes</span>
        <br />
        <div class="mb-3"></div>
        no en tus 
        <span class="bg-[#0A2533] meven text-white px-3 py-1">números</span>
    </h1>
    <p class="meven text-base mb-4 text-[#0A2533] max-w-1xl mx-auto">
        Haz cualquier transacción sobre tu producto con Meven, analiza su experiencia de usuario y <br> recibe recomendaciones personalizadas para ayudarte a alcanzar tus objetivos.
    </p>
    <div class="flex items-center justify-center space-x-4">
        <a class="bg-[#0A2533] text-white px-3 py-3 rounded text-base no-underline hover:no-underline" asp-controller="Register" asp-action="RegisterDemo">Solicitar Prueba</a>
        <a href="https://www.youtube.com/@canal" class="text-[#0A2533] text-black text-base flex items-center no-underline hover:no-underline">
            Ver Video Tutorial <i class="fa-solid fa-arrow-right ml-2"></i>
        </a>
    </div>
</div>