@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using System.Globalization
@{
    // Inicialización de objetos
    var textInfo = CultureInfo.CurrentCulture.TextInfo;

    var botones = new List<(string iconos, string nombre)>{
        ("fa-brands fa-apple text-white", "Apple"),
        ("fa-brands fa-github text-white", "GitHub"),
        ("fa-brands fa-google text-orange-700", "Google")
    };

    var formulario = new List<(string tipo, string icono)>{
        ("email", "fa-envelope"),
        ("password", "fa-lock")
    };
}
<div class="min-h-screen w-full flex">
    <div class="flex-1 flex items-center justify-center px-8">
        <div class="w-full max-w-[400px] space-y-6">
            <!-- Logo -->
            <div class="flex justify-center">
                <img class="w-12 h-12 rounded-lg"
                    src="~/images/Mistral-Logo.png" />
            </div>

            <!-- Headers -->
            <div class="text-center">
                <h1 class="text-2xl font-semibold text-gray-900">
                    ¡Bienvenido a Mistral!
                </h1>
            </div>

            <!-- Social Login Buttons -->
            <div class="grid grid-cols-3 gap-3">
                @foreach (var boton in botones) {
                    string caracteristicas = boton.nombre switch {
                        "Apple" => "bg-black text-white",
                        "GitHub" => "bg-black text-white",
                        "Google" => "bg-white !text-gray-500 border !border-gray-200",
                        _ => "bg-neutral-50"
                    };
                    <button class="btn btn-link w-full rounded @caracteristicas"><i class="@boton.iconos"></i>&#32;@textInfo.ToTitleCase(boton.nombre.ToLower())</button>
                }
            </div>

            <!-- Divider -->
            <div class="relative">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t"></div>
                </div>
                <div class="relative flex justify-center text-xs uppercase">
                    <span class="bg-white px-2 text-gray-500">o</span>
                </div>
            </div>
            <div class="space-y-4">
                <form class="space-y-6 mt-4" method="GET">
                    <div class="space-y-2 mb-3">
                        <label for="email" class="text-sm">Correo</label>
                        <input id="email" type="email" required class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-primary" />
                    </div>
                    
                    <div class="space-y-2 mb-3">
                        <label for="email" class="text-sm">Contraseña</label>
                        <input id="email" type="password" required class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring focus:ring-primary" />
                    </div>

                    <!-- Boton de Registro -->
                    <div class="space-y-2">
                        <input type="submit" value="Iniciar Sesión en Mistral" class="meven w-full bg-[#FFD233] hover:bg-[#FFD233]/90 text-black py-2 rounded-md" />
                    </div>
                </form>
            </div>

            <!-- Registro Link -->
            <div class="flex items-center justify-between text-sm">
                <span class="text-gray-500">
                    ¿Todavía no tienes una cuenta?
                    <a class="text-primary hover:underline" asp-controller="Register" asp-action="RegisterFree">Registrarse</a>
                </span>
            </div>
        </div>
    </div>
</div>
